<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.msapps.carracing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CarGame2DApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/icon_check"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_check"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".bluetooth.ScanActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".bluetooth.FeatureListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".bluetooth.ScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bluetooth.ScanActivity" />
        </activity>
        <activity
            android:name=".bluetooth.DebugConsoleActivity"
            android:label="@string/title_activity_debug_console"
            android:parentActivityName=".bluetooth.FeatureListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bluetooth.FeatureListActivity" />
        </activity>
    </application>

</manifest>