<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ashtray.carracinggame2d">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CarGame2DApplication"
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon_check"
        android:roundIcon="@drawable/icon_check"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        android:versionCode="1"
        android:versionName="1.0"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".bluetooth.ScanActivity"
            android:label="@string/title_activity_scan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bluetooth.FeatureListActivity"
            android:label="@string/title_activity_demo"
            android:launchMode="singleTop"
            android:parentActivityName=".bluetooth.ScanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bluetooth.ScanActivity"/>
        </activity>
        <activity
            android:name=".bluetooth.DebugConsoleActivity"
            android:label="@string/title_activity_debug_console"
            android:screenOrientation="portrait"
            android:parentActivityName=".bluetooth.FeatureListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bluetooth.FeatureListActivity"/>
        </activity>
        <activity
            android:name=".bluetooth.SettingsActivity"
            android:parentActivityName=".bluetooth.DebugConsoleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bluetooth.FeatureListActivity"/>
        </activity>
    </application>

</manifest>